.howitworks-container {
    text-align: center; /* ממרכז את כל הטקסט */
    max-width: 900px; /* מגביל את הרוחב של התוכן */
    margin: 0 auto; /* ממרכז את התוכן */
    padding: 20px;
    direction: rtl; /* קביעת כיוון הטקסט לימין */
  }
  
  .howitworks-title {
    font-size: 36px;
    font-weight: bold;
    color: #800080;
    margin-bottom: 20px;
  }
  
  .howitworks-subtitle {
    font-size: 20px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .howitworks-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .howitworks-section h2 {
    font-size: 24px;
    color: #800080;
  }
  
  .howitworks-section h3 {
    font-size: 20px;
    color: #333;
  }
  
  .howitworks-section ul {
    list-style: none;
    padding: 0;
  }
  
  .howitworks-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* ממרכז את התחתית */
  .footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 5px 10px;
    color: #333;
    cursor: pointer;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    font-size: 14px;
    color: #000;
  }
  