.form-save-sticky {
  position: sticky;
  bottom: 0;

  margin-top: 2rem;
  padding: 1.25rem 0 0;

  background: linear-gradient(
    to top,
    #ffffff 70%,
    rgba(255, 255, 255, 0)
  );

  z-index: 10;
}

.save-btn {
  display: block;
  margin: 0 auto;

  padding: 12px 28px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(90deg,#6a11cb 0%, #2575fc 100%);
  color: #fff;

  font-weight: 600;
  cursor: pointer;
}
